<% layout('layout') %>
<h1 class="text-center">Register</h1>
<form
  action="/register"
  method="post"
  class="col-12 col-lg-6 offset-lg-3 validated-form gap-3 gap-lg-4 d-flex flex-column"
  novalidate
>
  <div>
    <input
      type="text"
      id="username"
      name="username"
      placeholder="username"
      class="form-control"
      required
    />
    <div class="valid-feedback">look good!</div>
    <div class="invalid-feedback">please choose a username</div>
  </div>
  <div>
    <input
      type="email"
      id="email"
      name="email"
      placeholder="email"
      class="form-control"
      required
    />
    <div class="valid-feedback">look good!</div>
    <div class="invalid-feedback">please choose a email</div>
  </div>
  <div>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="password"
      class="form-control"
      required
    />
    <div class="valid-feedback">look good!</div>
    <div class="invalid-feedback">please choose password</div>
  </div>
  <button type="submit" class="btn btn-primary form-control">Save</button>
</form>
