<% if (success_msg.length) { %>
<div class="alert alert-warning alert-dismissible fade show z-3" role="alert">
  <strong>success:</strong> <%= success_msg %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } else if (error_msg.length) { %>
<div class="alert alert-danger alert-dismissible fade show z-3" role="alert">
  <strong>error:</strong> <%= error_msg %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>
