<footer class="bg-dark text-white text-center py-3 z-1">
  <div class="container">
    <p>&copy; <%= new Date().getFullYear() %> RazorPG. All rights reserved.</p>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="/privacy-policy" class="text-white">Privacy Policy</a>
      </li>
      <li class="list-inline-item">
        <a href="/terms-of-service" class="text-white">Terms of Service</a>
      </li>
      <li class="list-inline-item">
        <a href="/contact-us" class="text-white">Contact Us</a>
      </li>
    </ul>
  </div>
</footer>
