<% layout('layout') %>

<div class="d-flex flex-column align-items-center">
  <h1 class="text-center">ngalor ngidul aja dulu, sheessh</h1>
  <a class="btn btn-outline-dark" href="/login">ayo bergabung!</a>
</div>
