<% layout('layout') %>

<div class="d-flex flex-column align-items-center text-center z-1">
  <h1
    class="bg-dark text-white rounded p-3 fw-bold text"
    style="font-size: clamp(20px, 5vw, 32px)"
  >
    Tempat paling asyik buat ngobrol ngalor-ngidul kapan aja.
  </h1>
  <p>
    "Tempat nyaman buat kamu yang pengin ngobrol, diskusi, atau sekadar nyari
    teman."
  </p>
  <a class="btn btn-outline-dark" href="/login"><b>AYO BERGABUNG!</b></a>
  <img
    src="/img/logo.png"
    alt="logo"
    class="position-absolute z-n1 top-50 opacity-25 translate-middle-y"
    style="width: min(800px, 100%)"
  />
</div>
